
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/gameinfo.css">
    <link rel="stylesheet" href="/css/info.css"
     <meta http-equiv="Content-Security-Policy" content="script-src * 'unsafe-inline'">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <title>Thông tin ca nhan</title>  
</head>

<body>
    <script>
        function handlelogout()
        {
            localStorage.setItem("role","")
        }
    </script>
   <script>
       localStorage.setItem("role","Client")
   </script>
    <div id="container">

        <div id="side-bar">
            <h3>Chức năng</h3>
            <ul>
                <li><a href="/api/user/client/muave/<%= client._id %>"><button>Mua ve</button></a></li>
                <li><a href="/api/user/client/dangkyvip/<%= client._id %>"><button>Dang ky VIP</button></a></li>
                <li><a href="/api/user/client/info/<%= client._id %>"><button>Thong Tin</button></a></li>
                <li><a href="/api/user/client/tiketstatus/<%= client._id %>"><button>Tinh Trang Ve</button></a></li>
            </ul>
        </div>
        <div id="main-content">
            <div class="main-content-top">
                <h3>Thong tin ca nhan</h3>
               
                <button onclick="handlelogout()"> 
                    <a href="/">Đăng xuất</a>
                </button>
            </div>
            <div>
            <label class="lab">
                ID <input class="inp" type="text" name="dummy1" readonly="true" value="<%= client._id%>"/>
            </label>
            <hr>
                
              
            <label class="lab">
                Name <input class="inp" type="text" name="dummy2" readonly="true" value="<%= client.name%>" />
                
            </label>
            <hr>
                
            
              
            <label class="lab">
                Date of birth <input class="inp" type="text" name="dummy3" readonly="true" value="<%= client.dateofbirth%>"/>
            </label>
            <hr>
                
            <label class="lab">
                Email <input class="inp" type="text" name="dummy3" readonly="true" value="<%= client.email%>"/>
            </label>
            <hr>
                
            <label class="lab">
                Phone number <input class="inp" type="text" name="dummy3" readonly="true" value="<%= client.phonenumber%>"/>
            </label>
            <hr>
                
            <label class="lab">
                Facebook <input class="inp" type="text" name="dummy3" readonly="true" value="<%= client.facebook%>"/>
            </label>
            <hr>
                
            <label class="lab">
                Address <input class="inp" type="text" name="dummy3" readonly="true" value="<%= client.location%>"/>
            </label>
            <hr>
                
            <label class="lab">
                VIP <input class="inp" type="text" name="dummy3" readonly="true" value="<%= client.vip%>"/>
            </label>
            <hr>
                
        </div>
        <button><a href="/api/user/client/update-account/<%= client._id %>">
            Update
        </a></button>
        <button>
            <a href="/api/user/changepassword/<%= client._id %>">
                Change password
            </a></button>
        <hr>
        
              
            <script>
                function handleUpdateProduct(value) {
                    console.log(value);
                    console.log("hello")
                    $(location).attr('href', '/api/user/employee/GamePrice/update-product/' + value);
                }
            </script>
            
        </div>



</body>

</html>